<div class="col-12">
    <h1 class="text-primary fw-bold text-center">OTP Operation</h1>
    <div class="col-12 mx-auto text-center">
        <a routerLink="/">
            <button class="btn btn-primary btn-block">
                <i class="bi bi-house-door"></i> Operations List
            </button>
        </a>
    </div>

    <!-- LOADING SPINNER -->
    <div class="col-9 mx-auto text-center mt-4" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- ERROR WHILE LOADING OTP OPERATION FOR CHECK OR STATE DISPLAY -->
    <div class="col-9 mx-auto text-center mt-4" *ngIf="!isLoading && isError">
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-info-square-fill"></i>
            <span *ngIf="notFoundOtp"> No OTP Operation Found </span>
            <span *ngIf="!notFoundOtp"> An error occurred, please try again!
                <button class="btn btn-light btn-sm" (click)="getOtp()"><i class="bi bi-arrow-clockwise"></i>
                    Reload
                </button>
            </span>
        </div>
    </div>

    <!-- ERROR MESSAGE FOR NON BLOCKED OTP -->
    <div class="col-9 mx-auto text-center mt-4"
        *ngIf="!isLoading && isInvalidOtpCode && otp?.id && otp?.state !== 'SENT'">
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-info-square-fill"></i> {{ invalidOtpCodeMessage }}
        </div>
    </div>

    <!-- ERROR MESSAGE FOR EXISTING TRANSACTION NUMBER -->
    <div class="col-9 mx-auto text-center mt-4" *ngIf="!isLoading && transactionNumberAlreadyTaken">
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-info-square-fill"></i> Transaction number already exists!
        </div>
    </div>

    <!-- UNCHEABLE OTP STATE -->
    <div class="col-9 mx-auto text-center mt-4"
        *ngIf="!isLoading && !isInvalidOtpCode && !isError && otp?.id && otp?.state !== 'SENT'">
        <div class="alert" [ngClass]="{'alert-danger': !(otp?.state === 'VERIFIED' || otp?.state === 'ALREADY_VERIFIED'),
    'alert-success': (otp?.state === 'VERIFIED' || otp?.state === 'ALREADY_VERIFIED')}" role="alert">
            <i class="bi bi-info-square-fill"></i> OTP operation is {{otp?.state}}
        </div>
    </div>

    <!-- OTP FORMS -->
    <div class="col-9 mx-auto">
        <!-- CHECK OTP CODE FORM -->
        <form (ngSubmit)="onOtpCheck()" *ngIf="otp?.id !== '' && otp?.state === 'SENT'">
            <div class="mb-3">
                <label for="transactioNumber" class="form-label">Transaction Number</label>
                <input type="text" name="transactionNumber" disabled [value]="otp?.transactionNumber" readonly
                    class="form-control form-control-sm" id="transactioNumber" aria-describedby="transactionNumber" />
                <div id="emailHelp" class="form-text">Transaction Number.</div>
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <input type="number" name="code" [(ngModel)]="otp.code" class="form-control form-control-sm"
                    id="code" />
            </div>
            <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-sm" [disabled]="!otp?.code"><i
                    class="bi bi-bag-check-fill"></i> Check</button>
        </form>

        <!-- SEND OTP CODE -->
        <form (ngSubmit)="onOtpSend()" *ngIf="!otp?.id">
            <div class="mb-3">
                <label for="transactioNumber" class="form-label">Transaction Number</label>
                <input type="text" name="transactionNumber" [value]="otpRequest?.transactionNumber"
                    [(ngModel)]="otpRequest.transactionNumber" class="form-control form-control-sm"
                    id="transactioNumber" aria-describedby="transactionNumber" placeholder="784512548XXXXXX" />
                <div id="emailHelp" class="form-text">Transaction Number.</div>
            </div>
            <select class="form-select form-select-sm" [(ngModel)]="otpRequest.channel" name="channel"
                aria-label="OTP Channel">
                <option selected value='' disabled>OTP Channel</option>
                <option value="EMAIL">EMAIL</option>
                <option value="SMS" disabled>SMS</option>
            </select>
            <div *ngIf="otpRequest?.channel === 'EMAIL'" class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" [(ngModel)]="otpRequest.email" class="form-control form-control-sm"
                    id="email" placeholder="myemail.me@mailing.xx" />
            </div>
            <div *ngIf="otpRequest?.channel === 'SMS'" class="mb-3 mt-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" name="phone" [(ngModel)]="otpRequest.phone" class="form-control form-control-sm"
                    id="phone" placeholder="+2126XXXXXXXX" />
            </div>
            <button type="submit" [disabled]="isLoading || !isValidForm()" class="btn btn-primary btn-sm mt-3"><i
                    class="bi bi-chat-square-quote-fill"></i> Send</button>
        </form>
    </div>

    <!-- OTP STATE DISPLAY -->
    <div class="col-9 mx-auto">

    </div>


</div>