<div class="col-12">
    <h1 class="text-primary fw-bold text-center">OTP Operations</h1>
    <div class="col-12 mx-auto text-center">
        <a routerLink="/otp/save">
            <button class="btn btn-primary btn-block">
                <i class="bi bi-file-earmark-plus"></i> New operations
            </button>
        </a>
    </div>

    <div class="col-9 mx-auto text-center mt-4">
        <form class="d-flex" (ngSubmit)="onSearch()">
            <input class="form-control me-2 form-control-sm" name="search" [(ngModel)]="search" type="search"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>

    <div class="col-9 mx-auto mt-4">
        <hr class="my-no w-100" />
        <app-custom-pagination [page]="(otp$ | async)?.otpPage" [loading]="(otp$ | async)?.isLoading"
            (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()"
            (pageSizeEvent)="getPageInNewSize($event)">
        </app-custom-pagination>
    </div>

    <div class="col-9 mx-auto mt-4 mb-5">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Operation Date</th>
                    <th>Last Update Date</th>
                    <th>Transaction Number</th>
                    <th>Attempts</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!(otp$ | async)?.isLoading">
                    <tr *ngFor="let otp of (otp$ | async)?.otpPage?.content">
                        <th scope="row">{{otp?.timestamp | date: 'medium'}}</th>
                        <td>{{otp?.updateTimestamp | date: 'medium'}}</td>
                        <td>{{otp?.transactionNumber}}</td>
                        <td>{{otp?.attempts}}</td>
                        <td>{{otp?.state}}</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-danger btn-sm fw-bold mr-5" (click)="onOtpDelete(otp?.id)">
                                        <i class="bi bi-archive"></i> Delete
                                    </button>
                                </div>
                                <div class="col" *ngIf="otp?.state === 'SENT'">
                                    <a [routerLink]="['otp', 'save', otp?.id]">
                                        <button class="btn btn-dark btn-sm fw-bold">
                                            <i class="bi bi-bag-check-fill"></i> Verify
                                        </button></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="(otp$ | async)?.otpPage?.content?.length === 0">
                        <td colspan="6" class="text-center alert alert-light">
                            <i class="bi bi-info-circle"></i> No OTP Operation has been done yet!
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="(otp$ | async)?.isLoading">
                    <td colspan="6" class="text-center">
                        <i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>